html {
    font-size: 10px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    /* ### Primary */

    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    /* ### Neutral */

    --very-Dark-Blue: hsl(232, 12%, 34%);
    --grayish-Blue: hsl(229, 6%, 66%);
    --very-Light-Gray: hsl(0, 0%, 98%);
}

body {
    font-family: "Poppins";
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    background-color: var(--very-Light-Gray);
    color: var(--very-Dark-Blue);
    max-width: 37.5rem;
    max-height: 136rem;
    padding: 6rem 3rem;
}

.paragraph {
    text-align: center;
    margin-bottom: 4rem;
}
.text1,
.text2 {
    font-size: 2.4rem;
    font-weight: 200;
}
.text2 {
    font-weight: 600;
}
.text3 {
    font-weight: 400;
}

.box1,
.box2,
.box3,
.box4 {
    position: relative;
    width: 31.1rem;
    height: 22.2rem;
    border-radius: 8px;
    background-color: white;
    box-shadow: 5px 10px 15px var(--grayish-Blue);
    margin-bottom: 2rem;
    padding: 2rem;
}

.box1 {
    border-top-color: var(--cyan);
    border-top-style: outset;
    border-top-width: 2.5px;
}
.box2 {
    border-top-color: var(--red);
    border-top-style: outset;
    border-top-width: 2.5px;
}
.box3 {
    border-top-color: var(--orange);
    border-top-style: outset;
    border-top-width: 2.5px;
}
.box4 {
    border-top-color: var(--blue);
    border-top-style: outset;
    border-top-width: 2.5px;
}
h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.description {
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.icons {
    position: absolute;
    max-width: 57px;
    bottom: 2rem;
    right: 2rem;
}
.text3,
.description {
    opacity: 0.5;
}

@media screen and (min-width: 1387px) {
    .container {
        position: relative;
        max-width: 144rem;
        height: 92.2rem;
        padding: 5rem 10rem;
        background-color: var(--very-Light-Gray);
        color: var(--very-Dark-Blue);
    }
    .paragraph {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 6.4rem;
    }
    .text1,
    .text2 {
        font-size: 3.6rem;
    }
    .text3 {
        align-items: center;
        max-width: 54rem;
        word-wrap: break-word;
    }
    .box1,
    .box2,
    .box3,
    .box4 {
        position: absolute;
        width: 35rem;
        height: 25rem;
        padding: 2rem;
    }
    .top {
        top: 23rem;
        left: 50%;
        transform: translateX(-50%);
    }
    .bot {
        bottom: 14rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .left {
        top: 50%;
        left: 18rem;
        transform: translateY(-50%);
    }

    .right {
        top: 50%;
        right: 18rem;
        transform: translateY(-50%);
    }
}
